.header{
 background-color: cadetblue;
 display: flex;

 justify-content: space-between;

}

h1{
color: rgb(255, 0, 157);


}

.grid{
  display: flex;
  justify-content: space-evenly;
  align-items: stretch;

}

body{
  background-color:#109632;


}


*{

    border: solid;
}